<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- E-mail address to log in with for the Lidl App to run the unit tests -->
    <add key="EmailAddress" value=""/>
    <!-- Password to log in with for the Lidl App to run the unit tests -->
    <add key="Password" value=""/>
    <!-- RefreshToken to log in with for the Lidl App to run the unit tests -->
    <add key="RefreshToken" value=""/>
  </appSettings>
</configuration>